# I can look at reducing these later, but for now I'm getting things working
filter=-build/header_guard,-build/include_subdir,-readability/casting,-runtime/reference
linelength=120
extensions=h,c,hpp,cpp,ino